.dropdown  {
  &__buttons {
    padding: 0.9063rem 0.4375rem 0.4688rem 0.8125rem;
    display: flex;
  }
 
  &__apply-button {
    margin-left: auto;
  }

  &__clear-button_hide_clean {
    display: none;
  }
}
