@import '../item-quantity-dropdown/item-quantity-dropdown.scss';
@import '../btn/btn.scss';

.dropdown  {

  &__buttons {
    padding: 14.5px 7px 7.5px 13px;
    display: flex;

    
  }
 
  &__second-button {
    margin-left: auto;
  }

  &__first-button_hide_clean {
    display: none;
  }
}
