@import '~item-quantity-dropdown/lib/item-quantity-dropdown.min.css';

.iqdropdown {
  height: 2.75rem;
  padding: 0;
  box-sizing: border-box;
  border-color: $placeholder-color;
  border-radius: 0.125rem 0.125rem 0 0;

  &.menu-open,
  &:hover {
    border-color: $paragraph-color;
  }

  & &-selection {
    padding-left: 0.875rem;
    padding-right: 5.625rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: static;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.714;
    color: $label-color;
  }

  & &-selection::after,
  &.menu-open &-selection::after {
    content: 'expand_more';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
    top: 0;
    width: 2.75rem;
    height: 2.625rem;
    text-align: center;
    line-height: 2.625rem;
    background: none;
    color: $label-color;
  }

  & &-menu {
    top: 2.75rem;
    padding: 0.0938rem 0;
    padding-bottom: 0.2188rem;
    box-shadow: none;
    box-sizing: border-box;
    border: 0.0625rem solid $paragraph-color;
    border-radius: 0 0 0.125rem 0.125rem;
    z-index: 99;

    &-option {
      box-sizing: content-box;
      height: 1.875rem;
      padding: 0.2188rem 0.4375rem 0.2188rem 0.875rem;
    }
  }

  &-item,
  & &-item-controls .counter  {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }

  & &-item-controls {
    width: 5.75rem;
    height: 1.875rem;

    & button.button-decrement,
    & button.button-increment {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 1.375rem;
      padding: 0;
      box-sizing: border-box;
      border: 0.0625rem solid $paragraph-color;
      background: $background;
      color: $paragraph-color;
    }

    & button.button-decrement.button-zero {
      border-color: $placeholder-color;
      color: $placeholder-color;
    }

    & button.button-decrement:hover,
    & button.button-increment:hover {
      background: $background;
    }

    & .counter {
      width: 2rem;
      padding: 0;
      height: 1.875rem;
      border: none;
      line-height: 1.875rem;
      text-align: center;
    }

  }

  & .icon-decrement::after {
    content: '-';
    top: -0.25rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    background: none;
  }

  & .icon-increment::after {
    content: '+';
    top: -0.1875rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    background: none;
  }

  & .icon-increment.icon-decrement::before {
    display: none;
  }

  & .iqdropdown-selection_opacity_m::after {
    color: $paragraph-color;
  }

  &:hover .iqdropdown-selection_opacity_m::after {
    color: $label-color;
  }

}

