.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  &__search {
    width: 23.75rem;
    padding-top: 4.375rem;
    padding-bottom: 19.875rem;
    margin-left: 8.75rem;

    @media (max-width: 42.5rem) {
      & {
        margin: auto;
      }  
    }

    
    @media (max-width: 23.75rem) {
      & {
        width: auto;
      }
    }
  }

  &__content {
    background: url('./images/landing-page-img-1.jpg');
    background-position: 0 -4.375rem;
    background-repeat: no-repeat;
  }

  &__text {
    width: 18.75rem;
    margin: 0;
    margin-left: auto;
    margin-right: 8.375rem;
    padding-bottom: 1.25rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.71;
    color: $label-color;
    text-align: right;

    @media (max-width: 42.5rem) {
      & {
        margin-right: 0.625rem;
      }
    }
  }
}








