extends ../../components/block-head/block-head.pug
include ../../components/header/header.pug
include ../../components/window-search/window-search.pug
include ../../components/block-footer/block-footer.pug

block title
  title Landing page
block body
  .landing-page
    .landing-page__wrapper
      +header({
        list: [
          {text: "О нас"},
          {text: "Услуги", style: "containArrow"},
          {text: "Вакансии"},
          {text: "Новости"},
          {text: "Соглашения", style: "containArrow"},
        ],
        buttons: [
          "войти",
          "зарегистрироваться"
        ]
      })
      .landing-page__content
        .landing-page__search
          +window-search
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
    +block-footer