.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  &__search {
    width: 380px;
    padding-top: 70px;
    padding-bottom: 318px;
    margin-left: 140px;
  }

  &__content {
    background: url('./landing-page-img-1.jpg');
    background-position: 0 -70px;
    background-repeat: no-repeat;
  }

  &__text {
    width: 300px;
    margin: 0;
    margin-left: auto;
    margin-right: 134px;
    padding-bottom: 20px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.71;
    color: $label-color;
    text-align: right;
  }
}


@media (max-width: 680px) {
  .landing-page {

    &__search {
      margin: auto;
    }

    &__text{
      margin-right: 10px;
    }
  }
}

@media (max-width: 380px) {

  .landing-page {
    &__search {
      width: auto;
    }
  }

}








