.rich-checkbox-buttons {
  width: 266px;

  &__title {
    margin-bottom: 15px;
  }

  &__item {
    margin-top: 11px;
  }

  &__descriptor {
    padding-left: 30px;
    margin-top: 6px;
    margin-bottom: 8px;
    color: $paragraph-color;
    font-size: 0.75rem;
    line-height: 1.17
  }
}