include ../text-field/text-field.pug
include ../button-link/button-link.pug

mixin window-login
  form.window-login
    .window-login__wrapper
      h1.window-login__title Войти
      .window-login__email
        +text-field({text: "Email", type: "email"})
      .window-login__password 
        +text-field({text: "Пароль", type: "password"})
      .window-login__submit
        +button-link({size: "big", type: "submit", text: "войти"})
      .window-login__footer
        p.window-login__text Нет аккаунта на Toxin?
        .window-login__link
          +button-link(
            {
              size: "medium", 
              style: "ghost", 
              text: "создать", 
              page: "registration"
            }
          )