include ../text-field/text-field.pug
include ../buttons/buttons.pug

mixin window-login
  form(class='window-login ')
    .window-login__wrapper
      h1(class='widjet-title window-login__title') Войти
      .window-login__email
        +text-field({text: 'Email'})
      .window-login__password 
        +text-field({text: 'Пароль'})
      .window-login__submit
        +buttons({size: 'big', type: 'submit', text: 'войти'})
      .window-login__footer
        p(class='window-login__text text') Нет аккаунта на Toxin?
        .window-login__button  
          +buttons({size: 'medium', style: 'ghost', text: 'создать'})