include ../switch/switch.pug

mixin radio-buttons
  .radio-buttons.js-radio-buttons
    +switch({type: "radio", text: "Мужчина", name: "man-woman"})
    +switch({type: "radio", text: "Женщина", name: "man-woman"})