.footer-copyright {
  background: $background;

  &__top-wrapper {
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    padding-top: 100px;
    padding-bottom: 95px;
  }

  &__footer,
  &__copyright {
    display: flex;
    width: 80.5%;
    margin: auto;
  }

  &__footer {
    justify-content: space-between;
  }

  &__copyright {
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
  }

  &__description {
    width: 260px; 
  }

  &__text {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.71;
    color: $label-color;
  }

  &__lists {
    display: flex;
    justify-content: space-around;
    width: 55%;
    padding-top: 5px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    

    &-title {
      margin-top: 0;
      margin-bottom: 19px;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1.25;
      text-transform: uppercase;
      color: $title-color;
    }

    &-item{
      margin-top: 15px;
    }

    &-link{ 
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.71;
      color: $label-color;
      text-decoration: none;
    }
  }

  &__subscribe {
    width: 260px;
    padding-top: 5px;

    &-title {
      margin: 0;
      margin-bottom: 18px;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1.25;
      text-transform: uppercase;
      color: $title-color;
    }

    &-text {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.71;
      color: $label-color;
    }

    &-input {
      width: 260px;
      margin-top: 24px;
    }
  }

  &__bottom-wrapper {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 112px;
  }

  &__icon {
    font-size: 1.5rem;
    line-height: 1;
    color: $primary-color;
    background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
  }

}

@media (max-width: 1150px) {

  .footer-copyright {
    &__footer {
      justify-content: space-between;
    }


    &__footer,
    &__copyright {
      width: 90%;
  }


    &__lists,
    &__subscribe {
      margin-left: 0;
    }

    &__lists {
      width: 40%;
    }
    
  }

}

@media (max-width: 1000px) {

  .footer-copyright {

    &__top-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__footer {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__description,
    &__lists,
    &__subscribe {
      width: 70%;
    }

    &__lists,
    &__subscribe {
      margin-top: 40px;
    }
  }
}


@media (max-width: 500px) {

  .footer-copyright {

    &__top-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__copyright {
      flex-direction: column;
      width: auto;
      margin: 0;
      padding: 0;
    }

    &__lists {
      flex-direction: column;
      margin-top: 0;
    }

    &__list {
      margin-top: 30px;
    }

    &__footer {
      display: block;
    }

  }
}

@media (max-width: 340px) { 
  .footer-copyright__copyright {
    text-align: center;
  }
}