.footer-copyright {
  background: $background;

  &__top-wrapper {
    box-shadow: 0 0.0625rem 0 rgba(31, 32, 65, 0.1);
    padding-top: 6.25rem;
    padding-bottom: 5.9375rem;
  }

  &__footer,
  &__copyright {
    display: flex;
    width: 80.5%;
    margin: auto;
  }

  &__footer {
    justify-content: space-between;
  }

  &__copyright {
    justify-content: space-between;
    align-items: center;
    padding: 0.6875rem 0;
  }

  &__description {
    width: 16.25rem; 
    margin-right: 2.5rem;
  }

  &__text {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.71;
    color: $label-color;
  }

  &__lists {
    display: flex;
    justify-content: space-between;
    padding-top: 0.3125rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &_type_navigation {
      margin-right: 3.5625rem;
    }

    &_type_about {
      margin-right: 5.75rem;
    }

    &-title {
      margin-top: 0;
      margin-bottom: 1.1875rem;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1.25;
      text-transform: uppercase;
      color: $title-color;
      white-space: nowrap;
    }

    &-item{
      margin-top: 0.9375rem;
    }

    &-link{ 
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.71;
      color: $label-color;
      text-decoration: none;
    }
  }

  &__subscribe {
    width: 16.25rem;
    margin-left: 3.1875rem;
    padding-top: 0.3125rem;

    &-title {
      margin: 0;
      margin-bottom: 1.125rem;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1.25;
      text-transform: uppercase;
      color: $title-color;
    }

    &-text {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.71;
      color: $label-color;
    }

    &-input {
      width: 16.25rem;
      margin-top: 1.5rem;
    }
  }

  &__bottom-wrapper {
    box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 7rem;
  }

  &__icon {
    font-size: 1.5rem;
    line-height: 1;
    color: $primary-color;
    background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
  }

}

@media (max-width: 84.375rem) {
  .footer-copyright {
    &__description {
      margin-right: 0;
    }

    &__lists {
      justify-content: space-between;
      width: 45%;
    }

    &__list {
      &_type_navigation {
        margin-right: 0;
      }
  
      &_type_about {
        margin-right: 0;
      }
    }

    &__subscribe {
      margin-left: 0;
    }
  }

}

@media (max-width: 78.125rem) {

  .footer-copyright {
    &__footer {
      justify-content: space-between;
    }


    &__footer,
    &__copyright {
      width: 90%;
  }


    &__lists,
    &__subscribe {
      margin-left: 0;
    }

    &__lists {
      width: 40%;
    }
    
  }

}

@media (max-width: 62.5rem) {

  .footer-copyright {

    &__top-wrapper {
      padding-top: 3.125rem;
      padding-bottom: 3.125rem;
    }

    &__footer {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__description,
    &__lists,
    &__subscribe {
      width: 70%;
    }

    &__lists,
    &__subscribe {
      margin-top: 2.5rem;
    }
  }
}


@media (max-width: 31.25rem) {

  .footer-copyright {

    &__top-wrapper {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }
    &__copyright {
      flex-direction: column;
      width: auto;
      margin: 0;
      padding: 0;
    }

    &__lists {
      flex-direction: column;
      margin-top: 0;
    }

    &__list {
      margin-top: 1.875rem;
    }

    &__footer {
      display: block;
    }

  }
}

@media (max-width: 21.25rem) { 
  .footer-copyright__copyright {
    text-align: center;
  }
}