.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  &__content {
    background: url('./registration-sign-in-img-1.jpg');
    background-position: 0 -70px;
    box-sizing: border-box;
  }

  &__window {
    padding-top: 163px;
    padding-bottom: 163px;
    width: 380px;
    margin: auto;
  }
}

@media (max-width: 380px) {
  .sign-in__window {
    width: 100%;
  }
} 
