extends ../../components/block-head/block-head.pug
block title
  title Sign-in
block body
  include ../../components/header/header.pug
  include ../../components/window-login/window-login.pug

  .sign-in 
    .sign-in__wrapper 
      +header({
        list: [
          {text: "О нас"},
          {text: "Услуги", style: "containArrow"},
          {text: "Вакансии"},
          {text: "Новости"},
          {text: "Соглашения", style: "containArrow"},
        ],
        buttons: [
          "войти",
          "зарегистрироваться"
        ]
      })
      .sign-in__content
        .sign-in__window
          +window-login
    include ../../components/block-footer/block-footer.pug
