.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  &__content {
    background: url('../../images/registration-sign-in-img-1.jpg');
    background-position: 0 -4.375rem;
    box-sizing: border-box;
  }

  &__window {
    padding-top: 10.1875rem;
    padding-bottom: 10.1875rem;
    width: 23.75rem;
    margin: auto;

    @media (max-width: 23.75rem) {
      width: 100%;
    }
  }
}
