
mixin button({size = '', style = '', type = '', text = '', color = ''} = {})
  - 
    let sizeButton = '';
    sizeButton = size ? ' button_size_' + size : '';

    let styleButton = '';
    styleButton = style ? ' button_style_ghost' : '';

    let colorButton = '';
    colorButton = color ? ' button_color_grey' : '';

    let typeButton = type ? 'submit' : 'button';
  button(class=`button${sizeButton}${styleButton}${colorButton}` type=typeButton)=text