mixin button({size = '', style = '', type = '', text = ''} = {})
  - 
    let sizeButton = '';
    sizeButton = size ? ' button_' + size : '';

    let styleButton = '';

    if(sizeButton.length > 0) {
      styleButton = style ? sizeButton + '_ghost' : '';
    } else {
      styleButton = style ? ' button_ghost' : '';
    }

    if(styleButton === ' buttons_big_ghost') {
      styleButton = '';
    }

    let typeButton = type ? 'submit' : 'button';
  button(class=`button${sizeButton}${styleButton}` type=typeButton)=text