
mixin button({size = "", style = "", type = "", text = "", color = "", page = ""} = {})
  - 
    let sizeButton = size ? " button_size_" + size : "";

    let styleButton = style ? " button_style_ghost" : "";

    let colorButton = color ? " button_color_grey" : "";

    let typeButton = type ? "submit" : "button";
  if size === "medium"
    a(href=`./${page}.html` class=`button${sizeButton}${styleButton}${colorButton}`)=text
  else
    button(class=`button${sizeButton}${styleButton}${colorButton}` type=typeButton)=text