mixin footer-creative(text)
  .footer-creative
    .footer-creative__wrapper
      img(src="../../images/logo.png" alt="logo")
      p(class="footer-creative__text")= text
      .footer-creative__icons
        -
          let network = [
            {
              way: "https://twitter.com/",
              logo: "twitter",
            },
            {
              way: "https://www.facebook.com/",
              logo: "facebook-square",
            },
            {
              way: "https://www.instagram.com/",
              logo: "instagram",
            },
          ];
        each val in network
          a(href=val.way target="_blank" rel="noopener noreferrer")
            i(class=`footer-copyright__icon fab fa-${val.logo}`)