
mixin footer-creative(text)
  .footer-creative
    .footer-creative__wrapper
      img(src='../components/footer-creative/logo.png' alt='logo')
      p(class='footer-creative__text text')= text
      .footer-creative__icons
        each val in ['twitter', 'facebook-square', 'instagram']
          i(class='footer-creative__icon fab fa-' + val)