mixin footer-creative(text)
  .footer-creative
    .footer-creative__wrapper
      img.footer-creative__logo(src="../../images/logo.png" alt="logo")
      p.footer-creative__text= text
      .footer-creative__icons
        -
          let network = [
            {
              way: "https://twitter.com/",
              logo: "twitter",
            },
            {
              way: "https://www.facebook.com/",
              logo: "facebook-square",
            },
            {
              way: "https://www.instagram.com/",
              logo: "instagram",
            },
          ];
        each val in network
          a.footer-creative__icon-link(href=val.way target="_blank" rel="noopener noreferrer")
            i.footer-creative__icon.fab(class=`fa-${val.logo}`)