.room-booking {
  width: 100%;
  box-sizing: border-box;
  background: $background;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__wrapper {
    width: 320px;
    padding-top: 40px;
    padding-bottom: 29px;
    margin: auto;
  }
  &__number-and-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__number {
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.214;
    color: $title-color;
  }

  &__numbers {
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.25;
    color: $title-color;
  }

  &__luxe {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $primary-color;
  }

  &__cost {
    align-self: flex-end;
    margin-top:0;
    margin-bottom: 0;
  }

  &__cost-price {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__cost-price,
  &__cost-sign,
  &__cost-text {
    font-size: 0.875rem;
    line-height: 1.285;
    color: $paragraph-color;
  }

  &__cost-sign {
    font-family: 'rouble';
  }
  &__cost-text {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  &__titles {
    margin-top: 20px;
    margin-bottom: 4px;
    word-spacing: 92px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }

  &__title {
    margin-top: 21px;
    margin-bottom: 4px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }

  &__calculation {
    margin-top: 17px;
  }

  &__name-price {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.285;
    color: $label-color;
  }

  &__name {
    width: 214px;
    position: relative;

    &_warning::after {
      content: 'i';
      position: absolute;
      top: -2px;
      right: -26px;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border: 1px solid $placeholder-color;
      border-radius: 10px;
      text-align: center;
      font-weight: bold;
      line-height: 20px;
      color: $placeholder-color;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1875rem;
    line-height: 1.26;
    color: $title-color;

    &-name {
      position: relative;
      margin: 0;
    }
    &-name::after {
      content: '';
      position: absolute;
      bottom: 6px;
      width: 182px;
      border-bottom: 1px dotted $placeholder-color;
    }

    &-price {
      margin: 0;
      font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.1875rem;
      line-height: 1.26;
      color: $title-color;
    }

    &-rouble {
      font-family: 'rouble';
    }
  }

  &__button {
    margin-top: 20px;
  }

}

@media (max-width: 330px) {
  .room-booking {
    border: none;
  }
}