.room-booking {
  width: 100%;
  box-sizing: border-box;
  background: $background;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  &__wrapper {
    width: 20rem;
    padding-top: 2.5rem;
    padding-bottom: 1.8125rem;
    margin: auto;
  }
  &__number-and-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__number {
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.214;
    color: $title-color;
  }

  &__numbers {
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.25;
    color: $title-color;
  }

  &__luxe {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $primary-color;
  }

  &__cost {
    align-self: flex-end;
    margin-top:0;
    margin-bottom: 0;
  }

  &__cost-price {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__cost-price,
  &__cost-sign,
  &__cost-text {
    font-size: 0.875rem;
    line-height: 1.285;
    color: $paragraph-color;
  }

  &__cost-sign {
    font-family: 'rouble';
  }
  &__cost-text {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  &__titles {
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
    word-spacing: 5.75rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }

  &__title {
    margin-top: 1.3125rem;
    margin-bottom: 0.25rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }

  &__calculation {
    margin-top: 1.0625rem;
  }

  &__name-price {
    display: flex;
    justify-content: space-between;
    padding-top: 0.25rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.285;
    color: $label-color;
  }

  &__name {
    width: 13.375rem;
    position: relative;

    &_warning::after {
      content: 'i';
      position: absolute;
      top: -0.125rem;
      right: -1.625rem;
      width: 1.25rem;
      height: 1.25rem;
      box-sizing: border-box;
      border: 0.0625rem solid $placeholder-color;
      border-radius: 0.625rem;
      text-align: center;
      font-weight: bold;
      line-height: 1.25rem;
      color: $placeholder-color;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1875rem;
    line-height: 1.26;
    color: $title-color;

    &-name {
      position: relative;
      margin: 0;
    }
    &-name::after {
      content: '';
      position: absolute;
      bottom: 0.375rem;
      width: 11.375rem;
      border-bottom: 0.0625rem dotted $placeholder-color;
    }

    &-price {
      margin: 0;
      font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.1875rem;
      line-height: 1.26;
      color: $title-color;
    }

    &-rouble {
      font-family: 'rouble';
    }
  }

  &__button {
    margin-top: 1.25rem;
  }

}

@media (max-width: 20.625rem) {
  .room-booking {
    border: none;
  }
}