mixin like-button({number = 0, clicked = false} = {})
  -
    number = number < 0 ? 0 : number;
    let parentClass = clicked ? " like-button_clicked" : "";
    let className = number > 9 ? " like-button__number_margin_null" : "";
  .like-button(class=`js-like-button${parentClass}`)
    if clicked
      i.material-icons.like-button__icon.js-like-button__icon favorite
    else   
      i.material-icons.like-button__icon.js-like-button__icon favorite_border
    .js-like-button__number(class=`like-button__number${className}`)=number