mixin like-button(number)
  -
    number = number < 0 ? 0 : number;
    let className = number > 9 ? ' like-button__number_margin_null' : '';

  div(class="like-button js-like-button") 
    i(class="material-icons like-button__icon") favorite_border
    div(class=`like-button__number${className}`)=number