.like-button {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 40px;
  min-width: 40px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid $placeholder-color;
  border-radius: 10px;
  overflow: hidden;
  color: $placeholder-color;
  cursor: pointer;

  &_click {
    position: relative;
    border: none;
    padding: 1px;
    background: $background;
    background-clip: content-box;
    color: $primary-color;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
      border-radius: inherit;
      z-index: -1;
    }
  }

  &__icon {
    width: 20px;
    font-size: 10px;
    line-height: 9px;
    text-align: center; 
  }

  &__number {
    margin-left: 2px;
    font-size: 0.625rem;
    line-height: 1.2;
    color: inherit;

    &_margin_null {
      margin-left: 0px;
    }
  }

}