.search-room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 80.5%;
    margin: auto;
    padding-top: 1.875rem;
    padding-bottom: 4.25rem;
    border-bottom: 0.0625rem solid $placeholder-color;
  }

  &__action {
    width: 16.625rem;
  }

  &__numbers {
    margin-left: 3.75rem;
  }

  &__rooms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__room {
    margin-top: 1.25rem;
  }

  &__pagination {
    width: 15rem;
    margin-top: 2.25rem;
    margin-left: 18.125rem;
  }

  &__main-title {
    margin: 0;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.25;
    color: $title-color;
  }

  &__title {
    margin:0;
    margin-bottom: 0.3125rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }

  &__dropdown-visit,
  &__slider  {
    margin-top: 1.25rem;
  }

  &__expandable-checkbox-list  {
    margin-top: 1.125rem;
  }

  &__checkbox-buttons,
  &__rich-checkbox-buttons,
  &__dropdown-furniture {
    margin-top: 1.9375rem;
  }

  &__description {
    margin: 0;
    margin-top: 0.8125rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.1666;
    color: $label-color;
  }
}

@media (max-width: 88.125rem) {
  .search-room__pagination {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 68.75rem) {
  .search-room {

    &__content {
      flex-direction: column;
    }

    &__action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }

    &__dropdown-visit,
    &__slider,
    &__expandable-checkbox-list,
    &__checkbox-buttons,
    &__rich-checkbox-buttons,
    &__dropdown-furniture {
    margin-top: 0;
  }
  }
}

@media (max-width: 46.875rem) {
  .search-room {
    
    
    &__content {
      width: 90%;
    }
  }
}

@media (max-width: 42.5rem) {
  .search-room {
    
    
    &__content {
      width: 95%;
    }

    &__rooms {
      justify-content: center;
    }
  }
}

@media (max-width: 25rem) {
  .search-room {
    
    
    &__content {
      width: 99%;
    }
  }
}