include ../calendar/calendar.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin window-search 
  form(class='window-search')
    .window-search__wrapper
      h1(class='window-search__title') Найдём номера под ваши пожелания
      .window-search__arrival-departure
        h3(class='window-search__arrival-departure-title') прибытие выезд
        +calendar({type: 'dropdown'})
      .window-search__company
        h3(class='window-search__company-title') гости
        +dropdown({type: 'withButtons', arrTitles: ['взрослые', 'дети', 'младенцы']})
      .window-search__button
        +button({size: 'big', type: 'submit', text: 'подобрать номер'})