include ../field-button/field-button.pug
div(class='date-dropdown js-date-dropdown')
  div(class='date-dropdown__first-input')
    +field-button({text: 'ДД.ММ.ГГГГ'})
  div(class='date-dropdown__second-input')
    +field-button({text: 'ДД.ММ.ГГГГ'})