include ../field-button/field-button.pug
include ../button/button.pug

mixin date-dropdown(dates)

  div(class='date-dropdown js-date-dropdown' data-dates=dates)
    div(class='date-dropdown__first-input')
      +field-button({text: 'ДД.ММ.ГГГГ', focus: false})
    div(class='date-dropdown__second-input')
      +field-button({text: 'ДД.ММ.ГГГГ', focus: false})
    div(class='js-date-dropdown__buttons date-dropdown__buttons')
      div(class='js-date-dropdown__clear-button date-dropdown__clear-button')
        +button({style: 'ghost', text: 'очистить'})
      div(class='js-date-dropdown__apply-button date-dropdown__apply-button')
        +button({text: 'применить'})