include ../field-button/field-button.pug
include ../btn/btn.pug

mixin date-dropdown(dates)

  div(class='date-dropdown js-date-dropdown' data-dates=dates)
    div(class='date-dropdown__first-input')
      +field-button({text: 'ДД.ММ.ГГГГ', focus: false})
    div(class='date-dropdown__second-input')
      +field-button({text: 'ДД.ММ.ГГГГ', focus: false})
    div(class='js-date-dropdown__buttons date-dropdown__buttons')
      div(class='js-date-dropdown__first-button date-dropdown__first-button')
        +btn({type: 'ghost', text: 'очистить'})
      div(class='js-date-dropdown__second-button date-dropdown__second-button')
        +btn({text: 'применить'})