mixin quality({icon = '', header = '', text = ''} = {})
  .quality  
    i(class='material-icons quality__icon')=icon
    p(class='text quality__property')
      span(class='quality__header')=header
      span(class='quality__description')=text