mixin quality({icon = "", header = "", text = ""} = {})
  .quality  
    i.material-icons.quality__icon=icon
    p.quality__property
      span.quality__header=header
      span.quality__description=text