mixin quality(options)
  .quality  
    i(class='material-icons quality__icon')=options.icon
    p(class='text quality__property')
      span(class='quality__header')=options.header
      span(class='quality__description')=options.text