.quality {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 0.625rem;
    color: $primary-color;
    background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    line-height: 2.5625rem;
  }

  &__property {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.71;
    color: $label-color;
  }

  &__header {
    font-weight: bold;
  }
}