mixin switch({type = "checkbox", name = "", weight = "", text = ""} = {})
  -
    let className = "switch js-switch";
    let typeName = "";

    if(type === "checkbox") {
      className += weight === "b" ? " switch_weight_bold" : "";
      className += " switch_type_checkbox";
      typeName = "checkbox";
    }
    else if(type === "radio") {
      className += " switch_type_radio";
      typeName = "radio";
    }
    else if(type === "toggle") {
      className += " switch_type_toggle";
      typeName = "checkbox";
    }
  label(class=className)
    input(type=typeName name=name class="switch__input js-switch__input")
    =text