.switch {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.71;
  color: $label-color;
  cursor: pointer;
  
  &_checkbox {
    padding-left: 1.875rem;
    line-height: 1.125rem;
    color: $paragraph-color;

    &_weight_b {
      font-weight: bold;
      color: $label-color;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -0.0625rem;
      width: 1.25rem;
      height: 1.25rem;
      box-sizing: border-box;
      border: 0.0625rem solid $placeholder-color;
      border-radius: 0.25rem;
    }

    &_checked::before {
      border-color: $primary-color;
      background-image: url('./vector-checkbox.png');
      background-repeat: no-repeat;
      background-position: 50% 40%;
    }

  }

  &_radio {
    padding-left: 1.875rem;
    color: $paragraph-color;

    &::before {
      content: '';
      position: absolute;
      top: 0.125rem;
      left: 0.0625rem;
      width: 1.25rem;
      height: 1.25rem;
      box-sizing: border-box;
      border: 0.0625rem solid $placeholder-color;
      border-radius: 0.625rem;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      top: 0.375rem;
      left: 0.3125rem;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 0.625rem;
      background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
    }

    &_checked {
      color: $label-color;

      &::before {
        border-color: $primary-color;
      }

      &::after {
        display: block;
      }
    }
  }

  &_toggle {
    padding-left: 3.125rem;

    &::before {
      content: '';
      position: absolute;
      top: 0.125rem;
      left: 0;
      width: 2.5rem;
      height: 1.25rem;
      border: 0.0625rem solid $placeholder-color;
      box-sizing: border-box;
      border-radius: 0.625rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0.375rem;
      left: 0.25rem;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 0.625rem;
      background-color: $placeholder-color;
      transition: left 0.3s linear;
    }

    &_checked {

      &::before {
        border-color: $primary-color;
      }

      &::after {
        left: 1.5rem;
        background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
      }
    }
  }

  &__input {
    display: none;
  }

}