.expandable-checkbox-list {
  position: relative;
  width: 266px;

  &__dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }
  
  &__icon {
    width: 44px;
    text-align: center;
  }

  &__icon_turn {
    transform: rotate(-180deg);
  }

  &__items {
    position: absolute;
    top: 32px;
    display: none;
    width: 100%;
    background: $background;
    z-index: 1;

    &_display_on {
      display: block;
    }
  }
  &__item {
    margin-top: 11px;
  }
}