.elements {
  background-image: url('../../images/icon.png');
  background-repeat: no-repeat;
  background-position: 1.875rem 1.875rem;
  padding-top: 9.375rem;

  &__main-wrapper {
    width: 72.5rem;
    margin: auto;
  }

  &__title {
    margin-bottom: 0.3125rem;
    margin-top: 1.125rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;

    &-buttons {
      margin-bottom: 1rem;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left-line {
    width: 20rem;
  }

  &__center-line {
    width: 16.625rem;
  }

  &__right-line {
    width: 20rem;
  }

  &__titles {
    display: flex;

    & .elements__title:last-child {
      margin-left: 3.4375rem;
    }
  }

  &__like-button-container {
    display: flex;
    justify-content: space-between;
    width: 90px;
  }

  &__button {
    margin-bottom: 1.875rem;
  }

  &__button_size_small {
    display: flex;
    justify-content: space-between;
    width: 8.9375rem;
  }

  &__button_size_medium {
    width: 6.1875rem;
    height: 2.75rem;
  }

  &__filter-date-dropdown,
  &__subscription-text-field,
  &__dropdown-furniture,
  &__range-slider {
    width: 16.625rem;
  }

  &__bullet-list {
    width: 16.25rem;
  }

  &__comment {
    width: 44.4375rem;
  }
}