.button-link {
  display: inline-block;
  padding: 0;
  border: none;
  outline: none;
  background: $background;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.25;
  text-transform: uppercase;
  color: $primary-color;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &_color_grey {
    color: $paragraph-color;
  }

  &_size_medium {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
    border-radius: 1.375rem;
    color: $background;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    white-space: nowrap;
    
    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &_style_ghost {
    box-sizing: border-box;
    border: 0.125rem solid transparent;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    background: $background;
    background-clip: padding-box;
    color: $primary-color;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: -0.125rem;
      background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
      border-radius: inherit;
      z-index: -1;
    }

    &:hover {
      opacity: 1;
    }

    &:hover::before {
      opacity: 0.5;
    }
  }

  &_size_big {
    position: relative;
    width: 100%;
    height: 2.75rem;
    padding: 0;
    background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
    border-radius: 1.375rem;
    color: $background;
    
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    
    &::after {
      content: 'arrow_forward';
      position: absolute;
      top: 0.4375rem;
      right: 0.5rem;
      font-family: 'Material Icons', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      text-transform: none;
    }
  }
}