mixin button-link({size = "", style = "", type = "", text = "", color = "", page = ""} = {})
  - 
    let sizeButton = size ? "button-link_size_" + size : "";

    let styleButton = style ? " button-link_style_ghost" : "";

    let colorButton = color ? " button-link_color_grey" : "";

    let typeButton = type ? "submit" : "button";
  if page
    a.button-link(href=`./${page}.html` class=`${sizeButton}${styleButton}${colorButton}`)=text
  else
    button.button-link(class=`${sizeButton}${styleButton}${colorButton}` type=typeButton)=text