include ../footer-copyright/footer-copyright.pug
+footer-copyright({
  copyright: "Copyright © 2018 Toxin отель. Все права зачищены.",
  subscribe: [
    "Подписка",
    "Получайте специальные предложения и новости сервиса",
    "Email"
  ],
  text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
  lists: [
    ["Навигация","О нас", "Новости", "Служба поддержки", "Услуги"],
    ["О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы"],
    ["Служба поддержки", "Соглашения", "Сообщества", "Связь с нами"]
  ]
}) 