mixin range-slider(text)
  .range-slider
    .range-slider__header
      h3(class='label-text')=text
      p(class='label-text range-slider__result js-range-slider__result')
    div(class='range-slider__item js-range-slider__item')
  