mixin range-slider(text)
  .range-slider.js-range-slider
    .range-slider__header
      h3.range-slider__title=text
      p.range-slider__result.js-range-slider__result
    .range-slider__item.js-range-slider__item