@import '~jquery-ui-slider/jquery-ui.min.css';

.range-slider {

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }

  &__result {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $paragraph-color;
  }

  &__item.ui-corner-all,
  &__item .ui-corner-all {
    border-radius: 0;
  }

  &__item.ui-slider {
    border: 1px solid $placeholder-color;
    box-sizing: border-box;
    background: $background;
    border-radius: 3px;
  }

  &__item.ui-slider-horizontal {
    height: 6px;
  }

  &__item.ui-slider-vertical {
    height: 15em;
    width: 6px;
  }

  &__item .ui-slider-handle {
    width: 16px;
    height: 16px;
    background: linear-gradient(180deg, $secondary-color 0%, $second-linear 100%);
    border-radius: 10px;
    border: 2px solid $background;
    cursor: pointer;
    outline: none;
  }

  &__item.ui-slider-horizontal .ui-slider-handle {
    top: 0px;
    margin-top: -6px;
  }

  &__item.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -6px;
  }

  &__item .ui-slider-handle:hover {
    opacity: 1;
  }

  &__item .ui-slider-range {
    box-sizing: border-box;
    border-radius: 3px;
    background: linear-gradient(180deg, $secondary-color 0%, $second-linear 100%);
  }

  &__item.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 6px;
  }

  &__item.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 6px;
  }

}