include ../quality/quality.pug

mixin set-of-qualities
  .set-of-qualities
    +quality({icon: "insert_emoticon", header: "Комфорт", text: "Шумопоглощающие стены"})
    .set-of-qualities__line
    +quality({icon: "location_city", header: "Удобство", text: "Окно в каждой из спален"})
    .set-of-qualities__line