@import '../datepicker/datepicker.scss';
@import '../buttons/buttons.scss';
.datepicker-inline {
  width: 100%;

  & .datepicker {
    border-color: $placeholder-color;
    box-shadow: 0px 10px 20px $shadow-color;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 17px;
  }
}