include ../btn/btn.pug
div(class='datepicker-inline js-datepicker-inline')
  div(class='datepicker-inline__buttons js-datepicker-inline__buttons')
    div(class='js-datepicker-inline__first-button datepicker-inline__first-button')
      +btn({text: 'очистить', type: 'ghost'})
    div(class='js-datepicker-inline__second-button datepicker-inline__second-button')
      +btn({text: 'применить'})