extends ../../components/block-head/block-head.pug
block title
  title Registration
block body

  include ../../components/header/header.pug
  include ../../components/window-registration/window-registration.pug
  
  .registration
    .registration__wrapper 
      +header({
        list: [
          {text: "О нас"},
          {text: "Услуги", style: "containArrow"},
          {text: "Вакансии"},
          {text: "Новости"},
          {text: "Соглашения", style: "containArrow"},
        ],
        buttons: [
          "войти",
          "зарегистрироваться"
        ]
      })
      .registration__content
        .registration__window
          +window-registration
    include ../../components/block-footer/block-footer.pug
