extends ../../components/block-head/block-head.pug
block title
  title Registration
block body

  include ../../components/footer-copyright/footer-copyright.pug 
  include ../../components/header/header.pug
  include ../../components/window-registration/window-registration.pug
  
  .registration
    .registration__wrapper 
      +header({
        list: [
          {text: 'О нас'},
          {text: 'Услуги', style: 'containArrow'},
          {text: 'Вакансии'},
          {text: 'Новости'},
          {text: 'Соглашения', style: 'containArrow'},
        ],
        buttons: [
          'войти',
          'зарегистрироваться'
        ]
      })
      .registration__content
        .registration__window
          +window-registration
    +footer-copyright({
      copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
      subscribe: [
        'Подписка',
        'Получайте специальные предложения и новости сервиса',
        'Email'
      ],
      text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      lists: [
        ['Навигация','О нас', 'Новости', 'Служба поддержки', 'Услуги'],
        ['О нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'],
        ['Служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами']
      ]
    })
