.registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  &__content {
    background: url('./registration-sign-in-img-1.jpg');
    background-position: 0 -4.375rem;
    box-sizing: border-box;
  }

  &__window {
    width: 23.75rem;
    margin: auto;
    padding-top: 1.875rem;
    padding-bottom: 1.625rem;
  }
}

@media (max-width: 23.75rem) {
  .registration__window {
    width: 100%;
  }
} 
