mixin comment(options)
  .comment
    .comment__header  
      img(class='comment__image' src='./components/comment/' + options.image alt='image-visitor')
      p(class='text comment__name-and-time')
        span(class='comment__name')=options.name
        span(class='comment__time')=options.time
    .comment__main
      include ../like-button/like-button.pug
      .comment__like
        +like-button(11)
      p(class='text comment__text')=options.text