include ../like-button/like-button.pug

mixin comment({image = "", name = "", time = "", text = "", like = 10, likeClicked = false} = {})
  .comment
    .comment__header  
      img.comment__image(src=`../../components/comment/images/${image}` alt="image-visitor")
      p.comment__name-and-time
        span.comment__name= name
        span.comment__time= time
    .comment__main
      .comment__like
        +like-button({number: like, clicked: likeClicked})
      p.comment__text= text