include ../text-field/text-field.pug
mixin subscription-text-field(text)
  - 
    let obj = {
      text: text,
      color: false,
      borderOff: true
    }
  div(class="subscription-text-field text-field")
    +text-field(obj)
    i(class="material-icons subscription-text-field__icon") arrow_forward