.subscription-text-field {

    display: flex;
    height: 44px;
    width: 267px;
    background: #FFFFFF;
  
    &:focus &__icon, &:hover &__icon, &:focus &__input, &:hover &__input {
      border-color: $textColor;
    }

  &__input {
    flex-grow: 1;
    outline: none;
    padding: 0;
    padding-left: 14px;
    border: 1px solid $placeholderColor;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    border-right-style: none;
    outline: none;
    color: $placeholderColor;
    
    &:focus, &:hover {
      color: $textLabelColor;
    }

    &::placeholder {
      color: $placeholderColor;
    }

  }

  &__icon {
    box-sizing: border-box;
    width: 44px;
    line-height: 42px;
    text-align: center;
    border: 1px solid $placeholderColor;
    border-radius: 0 4px 4px 0;
    border-left-style: none;
    color: $firstButtonColor;
    cursor: pointer;
  }

}
