mixin subscription-text-field(text)
  .subscription-text-field  
    input(placeholder=text class="body-text subscription-text-field__input")
    i(class="material-icons subscription-text-field__icon") arrow_forward