include ../field-button/field-button.pug
include ../button-link/button-link.pug

mixin calendar({dates = [], type = ""} = {})
  if type === "dropdown"
    div(class="calendar js-calendar calendar_type_dropdown js-calendar_type_dropdown" data-dates=dates)
      div(class="calendar__input js-calendar__input js-calendar__left-input")
        +field-button({text: "ДД.ММ.ГГГГ", focus: false})
      div(class="calendar__input js-calendar__input js-calendar__right-input")
        +field-button({text: "ДД.ММ.ГГГГ", focus: false})
      div(class="calendar__buttons js-calendar__buttons")
        div(class="js-calendar__clear-button calendar__clear-button")
          +button-link({text: "очистить", color: "grey"})
        div(class="js-calendar__apply-button calendar__apply-button")
          +button-link({text: "применить"})
  else if type === "filter"
    div(class="calendar js-calendar js-calendar_type_filter" data-dates=dates) 
      +field-button({text: "ДД.ММ.ГГГГ", focus: false})
      div(class="calendar__buttons js-calendar__buttons")
        div(class="js-calendar__clear-button calendar__clear-button")
          +button-link({text: "очистить", color: "grey"})
        div(class="js-calendar__apply-button calendar__apply-button")
          +button-link({text: "применить"})
  else
    div(class="calendar js-calendar" data-dates=dates)
      div(class="calendar__buttons js-calendar__buttons")
        div(class="js-calendar__clear-button calendar__clear-button")
          +button-link({text: "очистить", color: "grey"})
        div(class="js-calendar__apply-button calendar__apply-button")
          +button-link({text: "применить"})