include ../field-button/field-button.pug
include ../button-link/button-link.pug

mixin calendar({dates = [], type = ""} = {})
  if type === "dropdown"
    .calendar.js-calendar.calendar_type_dropdown.js-calendar_type_dropdown(data-dates=dates)
      .calendar__input.js-calendar__input.js-calendar__left-input
        +field-button({text: "ДД.ММ.ГГГГ"})
      .calendar__input.js-calendar__input.js-calendar__right-input
        +field-button({text: "ДД.ММ.ГГГГ"})
      .calendar__buttons.js-calendar__buttons
        .js-calendar__clear-button.calendar__clear-button
          +button-link({text: "очистить", color: "grey"})
        .js-calendar__apply-button.calendar__apply-button
          +button-link({text: "применить"})
  else if type === "filter"
    .calendar.js-calendar.js-calendar_type_filter(data-dates=dates) 
      +field-button({text: "ДД.ММ.ГГГГ"})
      .calendar__buttons.js-calendar__buttons
        .js-calendar__clear-button.calendar__clear-button
          +button-link({text: "очистить", color: "grey"})
        .js-calendar__apply-button.calendar__apply-button
          +button-link({text: "применить"})
  else
    .calendar.js-calendar(data-dates=dates)
      .calendar__buttons.js-calendar__buttons
        .js-calendar__clear-button.calendar__clear-button
          +button-link({text: "очистить", color: "grey"})
        .js-calendar__apply-button.calendar__apply-button
          +button-link({text: "применить"})