.masked-text-field {
  height: 44px;
  width: 320px;
  padding-left: 14px;
  background: #FFFFFF;
  border: 1px solid $placeholder-color;
  box-sizing: border-box;
  border-radius: 4px;
  color: $placeholder-color;

  &:focus, &:hover {
    border-color: $text-color;
    color: $text-label-color;
    outline-style: none;
  }

  &::placeholder {
    color: $placeholder-color;
  }
}