.header {
  background: $background;
  box-shadow: 0 0.625rem 1.25rem $shadow-color;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;

  &__content,
  &__list,
  &__logged, 
  &__buttons,
  &__wrapper{
    display: flex;
    align-items: center;
  }
  
  &__wrapper {
    justify-content: space-between;
    width: 80.5%;
    margin: auto;
  }

  &__content {
    width: 66%;
  }

  &__nav {
    width: 100%;
    margin-left: auto;
  }

  &__list {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link,
  &__name {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.214;
    color: $paragraph-color;
    white-space: nowrap;
  }

  &__link {
    text-decoration: none;

    &_weight_bold {
      font-weight: bold;
      color: $label-color;
    }

    &_contains_arrow {
      &::after {
        content: 'expand_more';
        font-family: 'Material Icons';
        font-size: 1.5rem;
        line-height: 1.0625rem;
        vertical-align: middle;
      }
    }
  }

  &__login {
    position: relative;
    margin-left: 1.5625rem;
    height: 2.125rem;
    z-index: 1;
  } 

  &__register {
    height: 2.125rem;
    margin-left: 1.25rem;
  }

  &__name {
    margin-left: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__line {
    width: 0.0625rem;
    height: 1.875rem;
    margin-left: 1.875rem;
    background: rgba(31, 32, 65, 0.1);
  }

}

@media (max-width: 68.75rem) {
  .header {

    &__wrapper {
      width: auto;
      margin-left: 0.625rem;
      margin-right: 0.625rem;
    }

    &__content {
      width: 75%;
    }
  }
}


@media (max-width: 56.25rem) {
  .header {

    &__wrapper {
      flex-direction: column;
    }

    &__content {
      flex-direction: column;
      width: 85%;
    }

    &__nav {
      margin: 0.625rem;
    }
    &__item {
      margin-right: 0.625rem;

      &_contains_arrow  {
        margin-right: 0.625rem;
      }
    }
  }
}

@media (max-width: 31.25rem) {
  .header {

    &__content {
      align-items: flex-start;
      margin-top: 0.625rem;
    }
    
    &__nav {
      margin: 0;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
    }

    &__login,
    &__register,
    &__line {
      margin-left: 0;
    }
    
  }
}