include ../button-link/button-link.pug

mixin header({list = [], name = "", buttons = [], logged = false} = {})
  header.header
    .header__wrapper
      img(src="../../images/logo.png" alt="logo")
      .header__content
        .header__nav
          ul.header__list
            each val in list
              li(class=`header__item${val.style ? " header__item_contains_arrow" : ""}`)
                a(href="/mock-address/change-me" class=`header__link${val.weight ? " header__link_weight_bold" : ""}${val.style ? " header__link_contains_arrow" : ""}`)= val.text
        if logged
          .header__logged
            .header__line
            p(class="header__name")= name
        else 
          .header__links
            .header__login
              +button-link({size: "medium", style: "ghost", page: "sign-in", text: buttons[0]})
            .header__register
              +button-link({size: "medium", page: "registration", text: buttons[1]})
