.headers-footers {
  background-color: #E5E5E5;
  background-image: url('../../images/icon.png');
  background-repeat: no-repeat;
  background-position: 1.875rem 1.875rem;
  padding-top: 6.875rem;

  &__wrapper {
  margin-top: 2.5rem;
  }
}