.window-registration {
  width: 100%;
  background: $background;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  &__wrapper {
    width: 20rem;
    margin: auto;
    padding-top: 2.5rem;
    padding-bottom: 1.875rem;

    @media (max-width: 21.875rem) {
      width: 19.375rem;
    }
  }

  &__title {
    margin:0;
    margin-bottom: 1.1875rem;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.25;
    color: $title-color;
  }

  &__last-name,
  &__password {
    margin-top: 0.625rem;
  }

  &__sex {
    margin-top: 0.5625rem;
  }

  &__date,
  &__submit {
    margin-top: 1.4375rem;
  }

  &__data {
    margin-top: 1.3125rem;
  }

  &__birthday-title,
  &__data-title {
    margin-bottom: 0.25rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }

  &__toggle {
    margin-top: 0.5rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.875rem;
  }

  &__text {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.71;
    color: $label-color;
  }

  &__link {
    position: relative;
    width: 6.1875rem;
    height: 2.75rem;
    z-index: 1;
  }
}