@import '../field-button/field-button.scss';
@import '../btn/btn.scss';
@import '../datepicker/datepicker.scss';

.filter-date-dropdown {
  width: 100%;

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 17px;
  }
}