@import '../field-button/field-button.scss';
@import '../btn/btn.scss';
@import '../datepicker/datepicker.scss';

.filter-date-dropdown {
  width: 266px;

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 226px;
    margin: 20px;
    margin-bottom: 17px;
  }
}