include ../text-field/text-field.pug

mixin field-button({text = "", opacity = "", focus = false, theme = ""} = {})
  - 
    let obj = {
      text,
      borderOff: true
    };
    let icon = "keyboard_arrow_down";
    let className = opacity ? " field-button__icon_opacity_high" : "";
    let parentClass = focus ? " js-field-button_focused" : "";
    let type = "button";
    if(theme === "gradient") {
      icon = "arrow_forward";
      className += " field-button__icon_color_gradient";
      obj.type = "email";
      type = "submit";
    } else {
      obj.opacity = "high";
    }
  div(class=`field-button js-field-button${parentClass}`)
    +text-field(obj)
    button(type=type class=`material-icons field-button__icon js-field-button__icon${className}`)= icon