@import '../text-field/text-field.scss';

.field-button {
  display: flex;
  align-items: center;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid $placeholder-color;
  background: $background;

  &:hover, &_isFocused {
    border-color: $paragraph-color;
  }

  &__icon {
    min-width: 44px;
    text-align: center;
    box-sizing: border-box;
    background: $background;
    cursor: pointer;
    color: $paragraph-color;

    &_opacity_h, &_hovered, &_isFocused {
      color: $label-color;
    }

    &_color_gradient {
      color: $primary-color;
      background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

}