.field-button {
  display: flex;
  align-items: center;
  height: 2.75rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 0.0625rem solid $placeholder-color;
  background: $background;

  &:hover, &_focused {
    border-color: $paragraph-color;
  }

  &__icon {
    height: 100%;
    min-width: 2.75rem;
    text-align: center;
    box-sizing: border-box;
    background: $background;
    outline: none;
    border: none;
    cursor: pointer;
    color: $paragraph-color;

    &_opacity_high, &_hovered, &_focused {
      color: $label-color;
    }

    &_color_gradient {
      color: $primary-color;
      background: linear-gradient(180deg, $primary-color 0%, $linear 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}