.room {
  width: 16.875rem;
  background: $background;
  box-shadow: 0 0.625rem 1.25rem $shadow-color;
  border-radius: 0.25rem;
  overflow: hidden;
  &__slide-image {
    position: relative;
  }

  &__slide-left-button,
  &__slide-right-button {
    position: absolute;
    top: 0;
    width: 2.625rem;
    height: 9.5rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }

  &__slide-left-button {
    left: 0;
  }

  &__slide-right-button {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__left-arrow,
  &__right-arrow {
    position: absolute;
    top: 3.9688rem;
    color: $background;
    cursor: pointer;
  }

  &__left-arrow {
    transform: rotate(90deg);
    left: 0.625rem;
  }

  &__right-arrow {
    right: 0.5rem;
    transform: rotate(90deg);
  }

  &__slide {
    position: absolute;
    bottom: 1.25rem;
    right: 0.9375rem;
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 2.625rem;
    justify-content: space-between;
  }

  &__dot {
    width: 0.4688rem;
    height: 0.4688rem;
    box-sizing: border-box;
    box-shadow: 0 0.3125rem 0.3125rem rgba(31, 32, 65, 0.3);
    border: 0.0625rem solid $background;
    border-radius: 1.25rem;

    &_selected {
      background: $background;
    }
  }

  &__description {
    padding-top: 1.0625rem;
    padding-bottom: 1.25rem;
  }

  &__number-and-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 0.75rem;
  }

  &__number {
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.214;
    color: $title-color;
  }

  &__numbers {
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1875rem;
    line-height: 1.26;
    color: $title-color;
  }

  &__luxe {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $primary-color;
  }

  &__cost {
    margin-top:0;
    margin-bottom: 0;
  }

  &__cost-price {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__cost-price,
  &__cost-sign,
  &__cost-text {
    font-size: 0.875rem;
    line-height: 1.285;
    color: $paragraph-color;
  }

  &__cost-sign {
    font-family: 'rouble', Arial, Helvetica, sans-serif;;
  }

  &__cost-text {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  &__line {
    width: 14.375rem;
    height: 0.0625rem;
    margin: 0.625rem 1.25rem 0.5rem;
    background: rgba(31, 32, 65, 0.1);
  }

  &__stars-and-comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
  }

  &__comments {
    margin-top:0;
    margin-bottom: 0;
    line-height: 1.285;
    color: $paragraph-color;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.285;
    color: $paragraph-color;
  }

  &__comments-count {
    font-weight: bold;
  }
}