$title-color: #1F2041;
$label-color: rgba(31, 32, 65, 0.75);
$paragraph-color: rgba(31, 32, 65, 0.5);
$placeholder-color: rgba(31, 32, 65, 0.25);
$shadow-color: rgba(31, 32, 65, 0.05);
$primary-color: #BC9CFF;
$secondary-color: #6FCF97;
$background: #FFFFFF;
$linear: #8BA4F9;
$second-linear: #66D2EA;