@import 'material-icons/iconfont/material-icons.scss';
@import '~@fortawesome/fontawesome-free/css/all';
@import './components/colors-and-types/colors-and-types.scss';
@import './components/footer-copyright/footer-copyright.scss';
@import './components/header/header.scss';
@import './components/footer-creative/footer-creative.scss';

html {
  background-color: #E5E5E5;
}

body {
  margin: 0;
  background-color: #E5E5E5;
  background-image: url('./icon.png');
  background-repeat: no-repeat;
  background-position: 30px 30px;
  padding-top: 110px;
}

.wrapper {
  margin-top: 40px;
}