doctype html
html
  head
    meta(charset="utf-8")
    title ui-kit
    meta(name="keywords" content="")
    meta(name="discription" content="")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
    include components/text-field/text-field.pug
    include components/masked-text-field/masked-text-field.pug
    include components/field-button/field-button.pug
    include components/switch/switch.pug
    include components/expandable-checkbox-list/expandable-checkbox-list.pug
    .w-320px
      p(class='item-title') Войти 123
      +text-field({text: 'Email'})
      +masked-text-field
      +field-button({text: 'Email', theme: 'gradient'})
      +field-button({text: 'ДД.ММ.ГГГГ'})
      +field-button({text: 'Сколько гостей', opacity: 'high'})
      +switch({type: 'checkbox', text: 'Можно курить'})
      +switch({type: 'checkbox', text: 'Широкий коридор', weight: 'b'})
      +switch({type: 'toggle', text: 'Получать спецпредложения'})
      include components/radio-buttons/radio-buttons.pug
      include components/checkbox-buttons/checkbox-buttons.pug
      +expandable-checkbox-list('expandable checkbox list')
    
    

    