doctype html
html
  head
  body
    include components/text-field/text-field.pug
    include components/masked-text-field/masked-text-field.pug
    include components/subscription-text-field/subscription-text-field.pug
    +text-field("Email")
    +masked-text-field
    +subscription-text-field("Email")
      
    
    
    

    