@import 'material-icons/iconfont/material-icons.scss';
@import './components/colors-and-types/colors-and-types.scss';
@import './components/text-field/text-field.scss';
@import './components/field-button/field-button.scss';
@import './components/switch/switch.scss';
@import './components/radio-buttons/radio-buttons.scss';
@import './components/checkbox-buttons/checkbox-buttons.scss';
@import './components/expandable-checkbox-list/expandable-checkbox-list.scss';
@import './components/rich-checkbox-buttons/rich-checkbox-buttons.scss';
@import './components/like-button/like-button.scss';
@import './components/bullet-list/bullet-list.scss';
@import './components/rate-button/rate-button.scss';
@import './components/pagination/pagination.scss';
@import './components/range-slider/range-slider.scss';
@import './components/submit/submit.scss';
@import './components/button/button.scss';
@import './components/btn/btn.scss';
@import './components/set-of-qualities/set-of-qualities.scss';
@import './components/comment/comment.scss';

.flex {
  display: flex;
}
.w-320px {
  width: 320px;
  margin-top: 100px;
}
.w-266px {
  width: 266px;
  margin-left: 20px;
}