@import 'material-icons/iconfont/material-icons.scss';
@import '~@fortawesome/fontawesome-free/css/all';
@import './components/colors-and-types/colors-and-types.scss';
@import './components/footer-copyright/footer-copyright.scss';
@import './components/header/header.scss';
@import './components/window-login/window-login.scss';

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}

.wrapper {

  &__content {
    background: url('./registration-sign-in-img-1.png');
    background-position: 0 -70px;
    box-sizing: border-box;
  }

  &__window {
    padding-top: 163px;
    padding-bottom: 163px;
    width: 380px;
    margin: auto;
  }
}

@media (max-width: 380px) {
  .wrapper__window {
    width: 100%;
  }
} 
