.checkbox-buttons {
  width: 13.875rem;

  &__title {
    margin-bottom: 0.9375rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    color: $title-color;
  }

  &__item {
    padding: 0;
    margin-top: 0.75rem;
  }
}