extends ../../components/block-head/block-head.pug
block title
  title Card
block body
  include ../../components/window-login/window-login.pug
  include ../../components/window-search/window-search.pug
  include ../../components/window-registration/window-registration.pug
  include ../../components/room/room.pug
  include ../../components/room-booking/room-booking.pug
  include ../../components/calendar/calendar.pug

  .cards
    .cards__main-wrapper
      .cards__wrapper
        .cards__search
          +window-search
        .cards__registration
          +window-registration
      .cards__wrapper
        .cards__booking
          +room-booking
        .cards__login
          +window-login
      .cards__wrapper
        .cards__datepicker
          +calendar({dates: ["2019-09-13", "2019-09-16"]})
        .cards__room-luxe
          +room(
            {
              classRoom: "luxe", 
              type: "main", 
              stars: 5, 
              number: 888, 
              cost: "9 990", 
              comments: "145", 
              image: "room-img-1.jpg"
            }
          )
        .cards__room
          +room(
            {
              stars: 4, 
              number: 840, 
              cost: "9 990", 
              comments: "65", 
              image: "room-img-2.jpg"
            }
          )