.cards {
  background-color: #E5E5E5;
  background-image: url('../../images/icon.png');
  background-repeat: no-repeat;
  background-position: 1.25rem 1.875rem;
  padding-top: 9.375rem;

  &__main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 72.5rem;
    margin-left: auto;
    margin-right: auto;
  }
 
  &__search,
  &__booking,
  &__registration,
  &__login {
    width: 23.75rem;
  }

  &__search,
  &__booking,
  &__datepicker,
  &__room-luxe {
    margin-bottom: 2.5rem;
  }
  &__search {
    margin-bottom: 2.375rem
  }
}
