extends ../../components/block-head/block-head.pug
block title
  title Card
block body
  include ../../components/window-login/window-login.pug
  include ../../components/window-search/window-search.pug
  include ../../components/datepicker-inline/datepicker-inline.pug
  include ../../components/window-registration/window-registration.pug
  include ../../components/room/room.pug
  include ../../components/room-booking/room-booking.pug

  .cards
    .cards__main-wrapper
      .cards__wrapper-1
        .cards__search
          +window-search
        .cards__registration
          +window-registration
      .cards__wrapper-2
        .cards__booking
          +room-booking
        .cards__login
          +window-login
      .cards__wrapper-3
        .cards__datepicker
          +datepicker-inline
        .cards__room-1
          +room({classRoom: 'luxe', type: 'main', stars: 5, number: 888, cost: '9 990', comments: '145', image: 'room-img-1.jpg'})
        .cards__room-2
          +room({stars: 4, number: 840, cost: '9 990', comments: '65', image: 'room-img-2.jpg'})