mixin text-field({isMasked = false, opacity = false, borderOff = false, text = ''} = {})
  - 
    var className = 'text-field'
    className += isMasked ? ' js-mask' : ''
    className += opacity ? ' text-field_opacity_h' : ''
    className += borderOff ? ' text-field_border_off js-text-field' : ''

  input(class=className placeholder=text)