.text-field {
  height: 2.75rem;
  width: 100%;
  padding: 0;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 0.0625rem solid $placeholder-color;
  box-sizing: border-box;
  border-radius: 0.25rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  color: $placeholder-color;

  &:focus, &:hover {
    border-color: $paragraph-color;
    color: $label-color;
    outline-style: none;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  &_opacity_high {
    color: $label-color;

    &::placeholder {
      color: $label-color;
    }
  }

  &_border_off {
    height: auto;
    border: none;
    border-radius: 0;
  }
  
}
