.text-field {
  height: 44px;
  width: 100%;
  padding: 0;
  padding-left: 14px;
  border: 1px solid $placeholder-color;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.71;
  color: $placeholder-color;

  &:focus, &:hover {
    border-color: $paragraph-color;
    color: $label-color;
    outline-style: none;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  &_opacity_h {
    color: $label-color;

    &::placeholder {
      color: $label-color;
    }
  }

  &_border_off {
    height: auto;
    border: none;
    border-radius: 0;
  }
  
}
