@import '../colors-and-types/colors-and-types.scss';

.text-field {
  height: 44px;
  width: 100%;
  padding: 0;
  padding-left: 14px;
  background: #FFFFFF;
  border: 1px solid $placeholder-color;
  box-sizing: border-box;
  border-radius: 4px;
  color: $placeholder-color;

  &:focus, &:hover {
    border-color: $paragraph-color;
    color: $label-color;
    outline-style: none;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  &_opacity_h {
    color: $label-color;

    &::placeholder {
      color: $label-color;
    }
  }

  &_border_off {
    height: auto;
    border: none;
    border-radius: 0;
  }
}
