mixin text-field({isMasked  = false, opacity = false, borderOff = false, text = "", type = "text"} = {})
  - 
    var className = "text-field"
    className += opacity ? " text-field_opacity_high" : ""
    className += borderOff ? " text-field_border_off js-text-field" : ""
    className += isMasked ? " js-mask" : ""

  input(type=type class=className placeholder=text)